APP_ENV=development
APP_DEBUG=true
APP_NAME=Bifrost Admin
APP_BASE_URL=http://admin.bifrost.local

BACKEND_API_URL=http://api.bifrost.local

# Prod (bifrostadminui/.env):
# APP_ENV=production
# APP_DEBUG=false
# APP_BASE_URL=https://bifrostevents.no
# BACKEND_API_URL=https://api.bifrostevents.no
