APP_ENV=development
APP_DEBUG=true
APP_NAME=Bifrost Admin
APP_BASE_URL=http://admin.bifrost.local

# Prod: https://bifrostevents.no
BACKEND_API_URL=http://api.bifrost.local

# Prod: https://api.bifrostevents.no
